*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.user{
    background-color: lightgray;
    width: 320px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    text-transform: capitalize;
    row-gap: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gradient{
    background-image: linear-gradient(to right top, #030c18, #05111f, #051526, #03192e, #001c36);
}